/* FOOTER */
footer{
    width: 100%;

}

.footer__container{
    display:block;
    z-index: 10;
    width:85%;
    position: fixed;
    bottom:30px;
    background-color:#76be77;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 160px;
    height:40px;
    -webkit-box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.03);
    -moz-box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.03);
    box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.03);
}

.footer__container{
    display:block;
    z-index: 10;
    width:85%;
    position: fixed;
    background-color:#76be77;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 160px;
    height:40px;
}

.footer__container ul {
    display: flex;
    justify-content: space-around;
    height:100%;
    margin:0!important;

}

.footer__icon {
    width:100%;
    border-right: 1px solid #e1e1e1;
}

/*.footer__icon:hover {
    background-color: #76BE77;
}*/
#footer__first-icon {
    border-radius: 120px 0px 0px 120px;
}


#footer__last-icon{
    border-radius: 0px 120px 120px 0px;
}



.footer__icon:last-child {
    border-right:none;

}
.footer__icon span{
    display: block;
    margin-top:9px;
    font-size:1.3em;
    color:white;
}

.footer__icon:hover .footer__icon span{
    font-size:1.4em;
    color:#fff;
}

.commentaire__form-pseudo{
    width:80%;
}

.afficher-cat {

}

*[id^="categorie"]{
    transition: all 400ms ease-in-out;
    transform-origin: center;
}

