/* HEADER */
.header-manger {
    width: 100%;
    background-color: #76be77;
    overflow-x: hidden;
    position: fixed;
    top:0;
    height: 60px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}
.nav-manger {
    color: #fff;
    font-family: 'Roboto';
    font-weight: 300;
    padding: 0;
    padding: 5%;
}

#topListe {
   padding-top:50px;
}

.no-padding {
    padding-top:50px;
}

#topSelection {
    padding-top:20px;
}

.swiper-container {
    margin-top: 60px;
}


.ul-header a {
    color: white;
}


.div-search {
    display: flex;
}

.div-search input {
    margin: auto;
    width: 80%;
}