.home-fond {
    width: 100vw;
    height: 95vh;
    background: #76be77;
    overflow: hidden;
}

.home-logo {
    height: 90px;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
}

.home-p {
    color: white;
    text-align: center;

}

.home-iphone {
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 70px;
}

.home-blanc {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.home-go {
    background: #76be77;
    position: absolute;
    bottom: 45px;
    color: white;
    padding: 5px 10px;
    border-radius: 50px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    width: 55%;
}

home-fond a:focus {
    color: grey;
}