.liste__cat {
    display: grid;
    /* margin: 0 auto; */
    /* width: 95%; */
    grid-template-columns: 0.32fr 0.32fr 0.32fr;
    justify-content: center;
    padding-bottom: 20px;

}

.poubelle {
    position: fixed;
    bottom: 200px;
    right: 20px;
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
}

.poubelle img {
    width:100%;
}

.poubelle span {
    color: white;
    background: red;
    position: absolute;
    top:-6px;
    right:-6px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}

.liste__item {
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.liste__item img {
    height: 120px;
    width: auto;
    margin: auto;
}

.liste__item a {
    position: absolute;
    right: 10%;
    top: 10%;
}

img.croix-supp {
    height: 12px;
    top: -10px;
    position: relative;
}

.liste-nom {
    font-weight: 200;
    font-size:0.85em;
    text-transform: capitalize;
    margin-top: -35%;

}

.liste-titre {
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    padding-top: 40px;
    padding-bottom: 25px;
    margin-bottom: 0;
    /* margin-top: 30px; */
}

h3:nth-child(3) {
    background: #f6f6f6;
}

.liste__cat:nth-child(4) {
    background: #f6f6f6;
}

h3:nth-child(7) {
    background: #f6f6f6;
}

.liste__cat:nth-child(8) {
    background: #f6f6f6;
}


#search-input {
    text-align: center;
    margin: 0 auto;
    display: none;
    background: #fbfbfb;
    border: 1px grey solid;
    margin-top: 18px;
    padding: 5px 10px;
    border-radius: 40px;
    width: 100%;    margin-top: 20px;
    text-align: center;
    margin: 0 auto;
    display: block;
    background: #fbfbfb;
    border: 1px grey solid;
    margin-top: 18px;
    padding: 5px 10px;
    border-radius: 40px;
    width: 100%;
}


.aucunResultat {
    margin-top: 20px;
    text-align: center;
}

#search-input {
    transition: all 400ms ease-in-out;
    margin-bottom: -40px;
}

#search-input:focus {
    transform: scale(1.07);
}

footer li {
    transition: all 300ms ease-in-out;
}



