.liste__cat {
    display: grid;
    margin: 0 auto;
    width: 95%;
    grid-template-columns: 0.32fr 0.32fr 0.32fr;
}

.liste__cat-container {
    width: 95vw;
    margin: 0 auto;
}

.liste__item {
    height: auto;
    position: relative;
    display: flex;
}

.liste__item img {
    height: 120px;
    width: auto;
    margin: auto;
}

.liste__item a {
    position: absolute;
    right: 10%;
    top: 10%;
}