.recette__mainimg {
    width: 100%;
    height: 100vh;
    height: 100vh;
    filter: brightness(0.6);

}

.recette__title{
    text-align:center;
    font-size:1em;
    color:white;
}

.recette__title:first-letter{
    text-transform: capitalize;
}

.div-recette__info {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.recette__infos{
    left: 50%;
    transform: translateX(-50%);
    width:60%;
    position:relative;
    display:grid;
    grid-template-columns:0.5fr 0.5fr;
    grid-gap:20px;
    z-index:20;
    color:white;
    margin-top:20px;
}

.recette__infos-title{
    position:relative;
    z-index:20;
    margin-top:250px;
    text-transform: uppercase;
    text-align:center;
    color:white;
}
.recette__ustensiles{
    position:absolute;
    z-index:20;
    text-align:center;
    color:white;
    left: 50%;
    transform: translateX(-50%);
}

.recette__g{
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-stopwatch{
    font-size:1.9em;
}

.recette__tps1, .recette__tps2 {
    margin-left: 10px;
}



.ingredients-recette {
    display: grid;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    grid-gap: 0px;
    width:75%;
    margin: auto;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 50px;
    transition: all 400ms ease;
}

.ingredients-recette div {
    display: flex;
    flex-direction: column;
}
.ingredients-recette-div {
    width: 100%;
    height: auto;
    padding-top: 20px;
}

.ingredients-recette-img {
    height: 70px;
    margin-bottom: -20px;
    margin-top: -5px;
}



.etape {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px whitesmoke solid;
    border-top: 1px whitesmoke solid;
}

.etape h4 {
    color: #e2e2e2d6;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 30px;
}

.etape div {
    width: 90%;
    text-align: center;
    margin: auto;
}

.recette__container h4 {
    text-align: center;
    margin-top: 20px;
    color: #e2e2e2d6;
}

.ingredients-fixed {
    position: fixed;
    top: 0;
    z-index: 100;
    background: white;
    padding: 50px 0;
    width: 100vw;
    box-shadow: -1px 2px 20px 0px #cacaca;
    padding: 12px 9px;
    display: flex;
    justify-content: space-around;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 60px;
}

.ingredients-fixed img {
    display: none;
}

.fieldset{
    border-top:1px solid whitesmoke;
    margin:10px 0px 10px 0px;
    width:100%;
}

.commentaire__pseudo{
    margin-left:0;
    display:block;
    color:#474747;
}

.commentaire__pseudo::first-letter{
    text-transform: capitalize;
}

.commentaire__contenu{
    margin-left:0;
    color:#767676;
    font-weight:200;
}

.commentaire__title{
    margin-top:70px;

    text-align:left;
    text-transform:uppercase;
    color:#e2e2e2;
    margin-bottom:30px;
}

.commentaire__container{
    margin:0 auto;
    width:90%;

}
.commentaire__form-pseudo{
    border-bottom: 1px solid #76be77;
    margin-bottom:15px;
    border-top:none;
    border-right:none;
    border-left:none;
    background-color:#fbfbfb;
    padding:10px 8px;
    border-radius:3px;
    width:100%;
    color:#76be77;
}

.commentaire__form-contenu{   border-bottom: 1px solid #76be77;
    margin-bottom:15px;
    border-top:none;
    border-right:none;
    border-left:none;
    background-color:#fbfbfb;
    padding:10px 8px;
    border-radius:3px;
    width:100%;
    color:#76be77;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
}

.commentaire__form-pseudo::placeholder{
    padding-left:10px;
    color:#76be77;
}
.commentaire__form-contenu::placeholder{
    padding-left:10px;
    color:#76be77;
}

.commentaire__form-btn{
    margin-top:20px;
    width: 100%;
    border-radius:30px;
    background-color:#76be77;
    padding:10px 7px;
    font-weight:200;
    color:white;
}

.commentaire__message{
    margin-top:15px;
    text-align:center;
}

#retourne {
    position: absolute;
    z-index: 500;
    left: 8%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: white;
}

.quantite {
    background: none;
    border: none;
    text-align: center;
    width: 53%;
}

.div-nbPersonne {
    text-align: center;
}

.btn-plus {
    width: 25px;
    height: 26px;
    background-color: #76be77;
    border: none;
    color: white;
    margin: 0 10px;
}

.btn-moins {
    width: 25px;
    height: 26px;
    background-color: #76be77;
    border: none;
    color: white;
    margin: 0 10px;
}

.iframe-holder {
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}
.iframe-holder iframe {
    height: 100vw;
    width: 100vw;
}