

.selectionRecette-titre {
    font-size: 1.4em;
    width: 85%;
    margin: auto;
    /* text-align: center; */
    margin-top: 35px;
    /* margin-bottom: 2px; */
}

.selectionRecette-conteneur {
    width: 85%;
    margin: auto;
    padding-top: 10px;
}

.selectionRecette-div {
    height: 220px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 20px;
    box-shadow: 1px 0px 20px 0px #95939345;
}

.selectionRecette-desc {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    background-color: white;
    align-items: center;
    height: 55px;
    padding:10px 10px 10px 20px;
}

.selectionRecette-desc h5 {
    color: #616861;
    font-weight: 500;
    font-size: 0.85em;
}

.selectionRecette-desc img {
    height: 30px;
}

.selectionRecette-desc a {
    margin-left: auto;
    border-left: 1px #f7f7f7 solid;
    padding: 3px 10px 3px 15px;
}

.manque {
    height: 100%;
    text-align: center;
    padding-top: 50px;
    color: #fffefc;
    text-transform: uppercase;
}

