a:hover {
	text-decoration: none;
}

/* CSS DU PHONE */
/*viandespoissons, on affiche la premiere au moins*/
#categorie1 {
	display:block;
}
/*legumes*/
#categorie2 {
	display:none;
}
/*feculents*/
#categorie3 {
	display:none;
}
/*laitiers*/
#categorie4 {
	display:none;
}
/*divers*/
#categorie5 {
	display:none;
}

/* page admin PC */

/* connexion */

.form_connexion {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.form_connexion form {
	margin: auto;
}

.input_co {
	border: none;
	background-color: #eeeeee;
	border-radius: 5px;
	width:150px;
	height:30px;
	padding-left: 10px;
}

#seconnecter {
	left:0 !important;
}

.container__admin {
	display: flex;
	max-height:1500px;
}

.admin {
	position: relative;
}

/*ajout ing*/
select.liste__type  {
	text-transform: uppercase;
}

input[type='submit'].submit__ing {
	position: absolute;
	right: 25px;
}

.annuler.annuler__ing {
	position: absolute;
	right:120px;
}

.notif__new__ing {
	color: #1C1C1C;
	background-color: transparent;
	border: 1px solid #1D1D1D;
	margin-left: 20px;
}

.notif__new__ing:hover {
	background-color: transparent;
	color: #1C1C1C;
	cursor: default;
	border: 1px solid #1D1D1D;
}

/* formulaires de new et modif*/
form {
	margin-left:auto;
	margin-right:auto;
	position: relative;
}

.form__content {
	display: flex;
}

.un {
	background-color: rgba(238,238,238,0.5);
	transition: all 0.8s;
	padding: 30px 40px;
	max-width: 650px;
}

.un:hover {
	background-color: rgba(238,238,238,0.7);
	transition: all 0.8s;
}

.deux {
	background-color: rgba(238,238,238,0.5);
	transition: all 0.8s;
	padding: 30px 40px;
}

.deux:hover {
	background-color: rgba(238,238,238,0.7);
	transition: all 0.8s;
}

.deux table tr td {
	transition: all 0.8s;
	padding:10px 20px;
	transition: background 0.8s;
}

.deux table tr td:hover {
	background-color: rgba(238,238,238,0.8);
	transition: background 0.8s;
}

.divQte {
	padding-bottom: 10px;
}

.trois {
	background-color: rgba(238,238,238,0.5);
	transition: all 0.8s;
	padding: 30px 40px;
	position: relative;
	width:300px;
}

.trois:hover {
	background-color: rgba(238,238,238,0.7);
	transition: all 0.8s;
}

.apercu__image {
	width:100px;
}

.modif {
	background-color: rgba(34,139,24,0.9);
	color:white;
	border-radius: 5px;
	padding:10px 20px;
	border: none;
	transition: background 0.5s;
}

.changeCouleur {
	background-color: rgba(244,162,10,0.9);
	color:white;
	border-radius: 5px;
	padding:10px 20px;
	border: none;
	transition: background 0.5s;
}


#new__image {
	display: none;
	position: relative;
	left:-300px;
	z-index: 10;
}

input[type="file"].input__cache {
	left: -110px;
	position: relative;
	z-index: 1;
	opacity: 0;
}

.actuels {
	margin-top: 60px;
}

.nom__ing {
	text-transform: uppercase;
	font-size: 0.9em;
}

.nom__ing__index {
	text-transform: uppercase;
}

.etp {
	margin-bottom: 20px;
}

textarea {
	width: 90%;
	padding: 10px;
	border-radius: 2px;
	border:none;
	-webkit-box-shadow: 9px 7px 12px -5px rgba(0,0,0,0.05);
	-moz-box-shadow: 9px 7px 12px -5px rgba(0,0,0,0.05);
	box-shadow: 9px 7px 12px -5px rgba(0,0,0,0.05);
}

.check__admin {
	transform: scale(1.1);
}
	
.etape__title {
	font-size: 1.5em;
}

/*retour*/
.retour {
	color: #1C1C1C;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
	transform: translateX(0px);
	transition: transform 1s;
}

.retour:hover {
	transform: translateX(-1px);
	transition: transform 1s;
}

.triangle {
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 20px solid #1C1C1C;
	border-bottom: 10px solid transparent;
}
/*fin retour*/

/*tableau d'ing*/
tr>td {
	padding-bottom: 15px;
}

td {
	padding-right: 25px;
}

/*boutons et checkbox*/

#deco {
	right:0px;
	border: none ! important;
}

#deco:hover {
	background-color: rgba(230,80,66,1);
}

.bouton__plus {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	font-size: 1.1em;
	background-color: rgba(34,139,24,0.9);
	color:white;
	border: none;
	display: block;
	position: absolute;
	right: 50%;
	margin-top: 15px;
	cursor: pointer;
}

.bouton__plus:hover {
	background-color: rgba(34,139,24,1);
}

.supprimer__etape {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	font-size: 1.1em;
	background-color: rgba(230,80,66,0.9);
	color:white;
	border: none;
	position: absolute;
	right: -10px;
	top:45px;
	cursor: pointer;
}

.supprimer__etape:hover {
	background-color: rgba(230,80,66,1);
}

input[type='checkbox'] {
	margin-right: 10px;
}


.annuler {
	display: block;
	position: absolute;
	right:180px;
	background-color: rgba(230,80,66,0.9);
	color:white;
	border-radius: 5px;
	padding:10px 20px;
	margin-top: 15px;
	margin-bottom: 20px;
}

.annuler:hover {
	color: white;
	background-color: rgba(230,80,66,1);
}

/* fin admin PC */


@media screen and (max-width: 1024px) {
	/* GENERAL */
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body {
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		background-color: #fbfbfb;
	}
	p {
		font-family: 'Roboto';
		font-weight: 100;
	}
	#slogan-manger {
		font-size: 1em;
		text-align: center;
		color: white;
		font-family: 'Crete Round';
		font-weight: 400;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	ul {
		list-style: none;
		text-align: center;
		margin: 4px;
	}
	li {
		display: inline;
	}
	.clear {
		clear: both;
	}
		
	/* PAGE ACCUEIL AVEC LE BOUTON CEST PARTI*/
	#titre-projet {
		padding-top: 10px;
		font-weight: 500;
		text-align: center;
		color: white;
		font-size: 1.1em;
	}
	.logo p {
		margin-top: 20%;
		text-align: center;
	}
	#slogan {
		text-align: center;
		font-size: 1.15em;
		font-weight: 400;
		color: black;
	}
	.paragraphe-home {
		display: block;
		margin: auto;
		width: 70%;
		text-align: justify;
	}
	.go {
		margin-top: 10%;
		display: flex;
	}
	.btn-go {
		position: relative;
		z-index: 1;
		margin: auto;
		width: 45%;
		text-align: center;
		padding: 10px 40px 10px 40px;
		border-radius: 20px;
		background: linear-gradient(to right, #fe4b4c, #f78081);
		color: white;
		font-family: 'Roboto';
		text-decoration: none;
		font-weight: 400;
		-webkit-box-shadow: 4px 3px 19px 0px rgba(50, 50, 50, 0.07);
		-moz-box-shadow: 4px 3px 19px 0px rgba(50, 50, 50, 0.07);
		box-shadow: 4px 3px 19px 0px rgba(50, 50, 50, 0.07);
	}
	.btn-go:hover {
		background: linear-gradient(to right, #f92929, #fa6f6e);
		text-decoration: none;
		font-weight: bold;
		color: white;
	}
	#img-home-1 {
		position: absolute;
		z-index: 0;
		top: 60%;
		bottom: 0;
		width: 100%;
	}
	

	
	
	/* PAGE INGRÉDIENTS */

	#slideIng { /****************************************************************/
		padding-bottom: 50px;
	}

	.item-container {
		position: relative;
		display: inline-block;

		width:50%;
		height: 100%;
	
	}
	.item-container-search {
		/* position: relative; */
		/* display: inline-block; */
		/* width: 50%; */
		height: 200px;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	.post-it {
		position:relative;
		width:100%;
	}

	.post-it-search {
		position: relative;
		height: 75%;
	}
	
	.nom{
		position: absolute;
	    display: inline;
	    bottom: 13px;
	    left: 23px;
		font-weight: 200;
		font-size:0.85em;
		text-transform: capitalize;
	}

	.nom-search {
		/* position: absolute; */
		/* display: inline; */
		/* bottom: 13px; */
		/* left: 23px; */
		font-weight: 200;
		font-size: 1.75em;
		text-transform: capitalize;
	}

	.ajout{
		position: absolute;
		bottom: 26px;
		right: 24px;
		font-weight: 300;
		border:1px solid #787784;
		border-radius: 50%;
		width:25px;
		height:25px;
		padding-left: 0.475em;
		color:#787784;
		text-decoration: none;
	}

	.ajout-search {
		/* bottom: 26px; */
		right: 63px;
		font-weight: 300;
		border: 1px solid #787784;
		border-radius: 50%;
		width: 25px;
		TRANSFORM: translateY(-25%);
		height: 25px;
		padding-left: 0.475em;
		color: #787784;
		text-decoration: none;
	}
	
	.ajout:hover{
		text-decoration: none;
		background-color:#787784;
		color:white;
	}

	.ingredient-panier-supp {
		background-color: #e65042;
		color:white;
		opacity: 0.9;
		text-align: center;
		position: fixed;
		top:78%;
		z-index: 11;
		width:65%;
		display: flex;
		left:50%;
		transform: translateX(-50%);
		border-radius: 60px;
	}

	.ingredient-panier-supp p {
		padding: 10px 20px 10px 20px;
		margin:auto;
		text-align: center;
		font-weight: 400;
		font-size:0.8em;
	}
	
	/* PAGE LISTE */
	
	
	/* PAGE SELECTION RECETTE */

	.pas-ing {
		display: flex;
		flex-direction: column;
	}

	.pas-ing__comp {
		text-align: center;
		width:90%;
		margin-top:20%;
		margin-left: auto;
		margin-right: auto;
		font-size: 20pt;
		background-color: #e65042;
		border-radius: 20px;
		color:white;
		padding:5px 15px;
	}
	
	.pas-ing__coch {
		font-size: 12pt;
		color: #dddddd;
		text-align: center;
		font-weight: 400;
		margin-top: 30px;
	}

	.img-vide {
		margin: 0 auto;
		display: block;
		height: 150px;
		margin-top: 60px;
	}


	/* PAGE RECETTE */


	.content-recette {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		width: 100%;
		z-index: 1;
		top: 40%;
	}
	.chrono {
		padding-top: 6%;
		width: 12%;
	}
	.temps {
		font-size: 0.9em;
		position: relative;
		display: inline;
		padding-right: 13px;
		left: 3px;
		bottom: 14px;
		color: white;
	}
	#titre-recette {
		text-transform: uppercase;
		font-size: 0.8em;
		padding-bottom: 15px;
		font-weight: 100;
		color: white;
	}
	#h2-recette {
		text-transform: uppercase;
		font-weight: 600;
		margin: auto;
		color: white;
	}
	#img-recette {
		position: absolute;
		z-index: 0;
		width: 100%;
	}

	.ingredient-panier {
		background-color: #a3C881;
		color:white;
		opacity: 0.9;
		text-align: center;
		position: fixed;
		top:78%;
		z-index: 11;
		width:65%;
		display: flex;
		left:50%;
		transform: translateX(-50%);
		border-radius: 60px;
	}

	.ingredient-panier p {
		padding: 10px 20px 10px 20px;
		margin:auto;
		text-align: center;
		font-weight: 400;
		font-size:0.8em;
	}
	

	
	.test{
		
		width: 50%;
		
		bottom:40%;
	}

	/* PAGE ADMIN TABLETTE*/

	.form__content {
		flex-direction: column;
	}

	.trois {
		width:inherit; /*prend donc 100% du parent*/
	}

	.bouton__plus {
		margin-top: -10px;
	}

	
}


/* TRÈS PETIT ÉCRAN */

@media screen and (max-width: 320px) {
	#slideIng { /****************************************************************/
		padding-bottom: 70px;
	}

	#img-home-1 {
		position: relative;
		bottom: -30px;
		z-index: 0;
	}
	.btn-go {
		
		position: inherit;
		z-index: 1;
		width: 50%;
	}
	.btn-go:hover {
		position: inherit;
		z-index: 1;
		width: 50%;
	}
	
	.nom{
	font-size:0.68em;
		font-weight: 300;
	}
	
	.ajout{
		position: absolute;
		bottom: 22px;
		right: 17px;
		font-weight: 300;
		border:1px solid #787784;
		border-radius: 50%;
		width:25px;
		height:25px;
		padding-left: 0.475em;
		color:#787784;
		text-decoration: none;
	}
	.ingredient-panier {
		width:80%;
	}
	
}


/* CSS DU PC */

/*@media screen and (min-width: 1025px) {
	body {
		display: none;
	}
}*/