@media screen and (max-width: 1024px) {
	/* GENERAL */
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body {
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		background-color: #fbfbfb;
	}
	p {
		font-family: 'Roboto';
		font-weight: 100;
	}
	#slogan-manger {
		font-size: 1em;
		text-align: center;
		color: white;
		font-family: 'Crete Round';
		font-weight: 400;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	ul {
		list-style: none;
		text-align: center;
		margin: 4px;
	}
	li {
		display: inline;
	}
	.clear {
		clear: both;
	}

	/* PAGE ACCUEIL AVEC LE BOUTON CEST PARTI*/
	#titre-projet {
		padding-top: 10px;
		font-weight: 500;
		text-align: center;
		color: white;
		font-size: 1.1em;
	}
	.logo p {
		margin-top: 20%;
		text-align: center;
	}
	#slogan {
		text-align: center;
		font-size: 1.15em;
		font-weight: 400;
		color: black;
	}
	.paragraphe-home {
		display: block;
		margin: auto;
		width: 70%;
		text-align: justify;
	}
	.go {
		margin-top: 10%;
		display: flex;
	}
	.btn-go {
		position: relative;
		z-index: 1;
		margin: auto;
		width: 45%;
		text-align: center;
		padding: 10px 40px 10px 40px;
		border-radius: 20px;
		background: linear-gradient(to right, #fe4b4c, #f78081);
		color: white;
		font-family: 'Roboto';
		text-decoration: none;
		font-weight: 400;
		-webkit-box-shadow: 4px 3px 19px 0px rgba(50, 50, 50, 0.07);
		-moz-box-shadow: 4px 3px 19px 0px rgba(50, 50, 50, 0.07);
		box-shadow: 4px 3px 19px 0px rgba(50, 50, 50, 0.07);
	}
	.btn-go:hover {
		background: linear-gradient(to right, #f92929, #fa6f6e);
		text-decoration: none;
		font-weight: bold;
		color: white;
	}
	#img-home-1 {
		position: absolute;
		z-index: 0;
		top: 60%;
		bottom: 0;
		width: 100%;
	}




	/* PAGE INGRÉDIENTS */


	*[id^="categorie"] {
		width: 93%;
		margin: auto;
	}

	.nbRecette {
		position: fixed;
		top: 100px;
		right: 50px;
		background: red;
		color: white;
		text-align: center;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		height: 40px;
		width: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.8em;
	}

	.modal-recette {
		position: fixed;
		background: #a0ffa9;
		height: 61vh;
		width: 50px;
		top: 140px;
		width: 80vw;
		left: 50%;
		padding: 33px;
		transform: translateX(-50%);
		border-radius: 21px;
		display: none;
	}

	#slideIng { /****************************************************************/
		padding-bottom: 50px;
	}

	.item-container {
		position: relative;
		display: inline-block;

		width:50%;
		height: 100%;

	}
	.item-container-search {
		/* position: relative; */
		/* display: inline-block; */
		/* width: 50%; */
		height: 200px;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	.post-it {
		position:relative;
		width:100%;
	}

	.post-it-search {
		position: relative;
		height: 75%;
	}

	.nom{
		position: absolute;
		display: inline;
		bottom: 13px;
		left: 23px;
		font-weight: 200;
		font-size:0.85em;
		text-transform: capitalize;
	}

	.nom-search {
		/* position: absolute; */
		/* display: inline; */
		/* bottom: 13px; */
		/* left: 23px; */
		font-weight: 200;
		font-size: 1.75em;
		text-transform: capitalize;
	}

	.ajout{
		position: absolute;
		bottom: 26px;
		right: 24px;
		font-weight: 300;
		border:1px solid #787784;
		border-radius: 50%;
		width:25px;
		height:25px;
		padding-left: 0.475em;
		color:#787784;
		text-decoration: auto;
	}

	.coche__cookie {
		position: absolute;
		bottom: 26px;
		right: 24px;
		font-weight: 300;
		border-radius: 50%;
		width:25px;
		height:25px;
		padding-left: 0.475em;
		text-decoration: none;
		color:white !important;
		background-color: #76be77;
		pointer-events: none;
	}

	.ajout-search {
		/* bottom: 26px; */
		right: 63px;
		font-weight: 300;
		border: 1px solid #787784;
		border-radius: 50%;
		width: 25px;
		TRANSFORM: translateY(-25%);
		height: 25px;
		padding-left: 0.475em;
		color: #787784;
		text-decoration: none;
	}

	.ajout:hover{
		text-decoration: none;
		background-color:#787784;
		color:white;
	}

	#ingredient-panier-supp {
		background-color: #e65042;
		color:white;
		opacity: 0.9;
		text-align: center;
		position: fixed;
		top:78%;
		z-index: 11;
		width:65%;
		display: flex;
		left:50%;
		transform: translateX(-50%);
		border-radius: 60px;
	}

	#ingredient-panier-supp p {
		padding: 10px 20px 10px 20px;
		margin:auto;
		text-align: center;
		font-weight: 400;
		font-size:0.8em;
	}

	.notif_supp_accueil_parent {
		min-height: 40px;
	}

	.notif__supp_accueil {
		position: relative !important;
		z-index: 9999;
	}


	/* PAGE LISTE */


	/* PAGE SELECTION RECETTE */

	.pas-ing {
		display: flex;
		flex-direction: column;
	}

	.pas-ing__comp {
		text-align: center;
		width:90%;
		margin-top:20%;
		margin-left: auto;
		margin-right: auto;
		font-size: 20pt;
		background-color: #e65042;
		border-radius: 20px;
		color:white;
		padding:5px 15px;
	}

	.pas-ing__coch {
		font-size: 12pt;
		color: #dddddd;
		text-align: center;
		font-weight: 400;
		margin-top: 30px;
	}

	.img-vide {
		margin: 0 auto;
		display: block;
		height: 150px;
		margin-top: 60px;
	}


	/* PAGE RECETTE */


	.content-recette {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		width: 100%;
		z-index: 1;
		top: 40%;
	}
	.chrono {
		padding-top: 6%;
		width: 12%;
	}
	.temps {
		font-size: 0.9em;
		position: relative;
		display: inline;
		padding-right: 13px;
		left: 3px;
		bottom: 14px;
		color: white;
	}
	#titre-recette {
		text-transform: uppercase;
		font-size: 0.8em;
		padding-bottom: 15px;
		font-weight: 100;
		color: white;
	}
	#h2-recette {
		text-transform: uppercase;
		font-weight: 600;
		margin: auto;
		color: white;
	}
	#img-recette {
		position: absolute;
		z-index: 0;
		width: 100%;
	}

	#ingredient-panier {
		background-color: #a3C881;
		color:white;
		opacity: 0.9;
		text-align: center;
		position: fixed;
		top:78%;
		z-index: 11;
		width:65%;
		display: flex;
		left:50%;
		transform: translateX(-50%);
		border-radius: 60px;
	}

	#ingredient-panier p {
		padding: 10px 20px 10px 20px;
		margin:auto;
		text-align: center;
		font-weight: 400;
		font-size:0.8em;
	}

	.test{

		width: 50%;

		bottom:40%;
	}

}


/* TRÈS PETIT ÉCRAN */

@media screen and (max-width: 320px) {
	#slideIng { /****************************************************************/
		padding-bottom: 70px;
	}

	#img-home-1 {
		position: relative;
		bottom: -30px;
		z-index: 0;
	}
	.btn-go {

		position: inherit;
		z-index: 1;
		width: 50%;
	}
	.btn-go:hover {
		position: inherit;
		z-index: 1;
		width: 50%;
	}

	.nom{
		font-size:0.68em;
		font-weight: 300;
	}

	.ajout{
		position: absolute;
		bottom: 22px;
		right: 17px;
		font-weight: 300;
		border:1px solid #787784;
		border-radius: 50%;
		width:25px;
		height:25px;
		padding-left: 0.475em;
		color:#787784;
		text-decoration: none;
		pointer-events: auto;
	}

	.coche__cookie {
		position: absolute;
		bottom: 22px;
		right: 17px;
		font-weight: 300;
		border-radius: 50%;
		width:25px;
		height:25px;
		padding-left: 0.475em;
		text-decoration: none;
		color:white !important;
		background-color: #76be77;
		pointer-events: none;
	}

	#ingredient-panier {
		width:80%;
	}

}


/* CSS DU PC */

/*@media screen and (min-width: 1025px) {
	body {
		display: none;
	}
}*/